body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: <img src="https://raw.githubusercontent.com/notdhruvv/notdhruvv.github.io/main/nikeheader2.svg" alt="headerbg">;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introload 2s forwards;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: 999;
  background: rgba(248, 248, 255, 0.921);
  border-bottom-left-radius: 2rem;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style: none;
  padding: 0;
  padding-top: 8em;
}
nav ul a {
  color: #181F32;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}
nav ul a:hover {
  background: #a03644;
  transition: font-size 0.5 ease-in;
}

.close-nav {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.open-nav {
  transform: translateX(0%);
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 3em;
  margin-top: -0.6rem;
  cursor: pointer;
}

section.hero {
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
section.hero h1 {
  line-height: 3rem;
  font-size: 3rem;
}
section.hero p {
  font-size: 1.4rem;
  color: #181F32;
  height: 90vh;
}
section.hero .close-hero {
  position: absolute;
  bottom: 22.5em;
  width: 1em;
  margin-left: 12.5em;
  animation: moveArrow 1s alternate-reverse infinite;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 27em;
}
.more-info .title {
  font-size: 3rem;
  font-weight: bold;
}
.more-info .p {
  font-size: 18px;
  line-height: 1.5em;
}

.hero span {
  color: #a03644;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .close-nav {
    display: none;
  }
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    color: #a03644;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 51%;
    height: 42em;
  }
  .hero span {
    color: #a03644;
  }
  section.hero {
    height: auto;
    width: 40%;
  }
  section.hero .close-hero {
    margin-bottom: 2em;
    margin-left: 2em;
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 8em;
    gap: 3em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
  .feature.flip {
    grid-template-areas: "left right";
  }
  .feature.flip img {
    grid-area: left;
    width: 25em;
  }
  .feature.flip .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
@keyframes introload {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */
